{{!-- show post details --}}
<section class="box p-1 m-6 custom-box">
    <header class="level is-mobile">
        <h2 class="level-item has-text-centered title custom-text" id="post-title" data-post="{{post.id}}">{{post.title}}</h2>
        <p class="level-item has-text-centered">Created by: {{post.user.username}} {{format_date post.createdAt}}</p>
    </header>
    <p class="p-5 custom-inner container is-fullhd">{{post.text}}</p>
</section>
{{!-- cycle through any comments --}}
<div>
    {{#each post.comments as |comment|}}
    {{> comment-details}}
    {{/each}}
</div>
<div class="box p-1 m-6 custom-box">
    <h2 class="title p-2 custom-text"></h2>
    <form class="custom-form p-5 m-0" id="add-comment">
        <div class="field">
            <label class="label" for="comment-text">Comment:</label>
            <textarea class="input" type="text" id="comment-text" ></textarea>
        </div>
        <div>
            <button class="button custom-button" type="submit">Submit</button>
        </div>
    </form>
</div>

{{!-- script to go to create comment screen --}}
<script src="../js/newcomment.js"></script>

